<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.somnath.mymusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="false"
        android:icon="@drawable/music_player"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Welcome"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>



        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity
            android:name=".AlbumsSongs"
            android:label="Album Songs"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>




        <activity
            android:name=".ArtistSongs"
            android:label="Artist Songs"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity android:name=".NowPlayingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PlayingListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Videoplayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
          />

        <service
            android:name=".MyMusicService"
            android:enabled="true"
            >


        </service>







    </application>

</manifest>